{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/about.css">
{% endblock %}

{% block body %}
    <div class="center">
        <h2>Made by Jaeyoung Cho</h2>
        <h2>Contact here: <a href="mailto:jcho30@go.pasadena.edu">jcho30@go.pasadena.edu</a></h2>
        <h2>Github: <a href="https://github.com/chotravis87/pcc-preview"> Link</a></h2>
        <h2>PCCBOTS Github: <a href="https://github.com/chotravis87/pcc-bots"> Link</a></h2>
    </div>
{% endblock %}