<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/dc00b3b728.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/img/favicon.jpg">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-light" style="background-color: #6E0A1E;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/img/favicon.jpg" class="brand" width="30" height="30" alt="">
            </a>
            <a href="#" class="semester">{{ header }}</a>
            <ul class="nav navbar-right icons">
                <li><a href="https://www.buymeacoffee.com/chotravis87" target="_blank" class="fas fa-coffee icon"></a></li>
                <li><a href="https://www.github.com/chotravis87" target="_blank" class="fab fa-github icon"></a></li>
                <li><a href="/about" class="fas fa-info-circle icon"></a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>